<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sourceforge.opencamera"
    android:installLocation="auto"
    android:versionCode="26"
    android:versionName="1.22" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.sourceforge.opencamera.CameraActivityNew"
            android:configChanges="screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.sourceforge.opencamera.TakePhoto"
            android:configChanges="screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_launcher_take_photo"
            android:label="@string/take_photo"
            android:screenOrientation="landscape"
            android:taskAffinity="" >
        </activity>

    </application>

</manifest>